.App{
  background-color: rgb(103, 94, 94);
  height: 100%;
  width: 100%;
}

h1{
  text-decoration: underline;
  color: goldenrod;
  margin-top: 0;
  text-align: center;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}